html {
    min-height: 100vh;
}
@media screen and (max-width: 1200px){
    h2{
        font-size: 22px !important;
        text-align: center !important;
    }

    h3 {
        font-size: 14px !important;
    }

    p{
        font-size: 13px !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 800px){

    h2 {
        font-size: 15px !important;
        text-align: center !important;
    }

    h3 {
        font-size: 13px !important;
    }

    p{
        font-size: 13px !important;
        text-align: center !important;
    }
}


@media screen and (max-width: 600px){

    h3 {
        font-size: 13px !important;
        text-align: center !important;
    }

    h2 {
        font-size: 15px !important;
        text-align: center !important;
    }

    p{
        font-size: 12px !important;
        text-align: center !important;
    }
}